/* Preview Tooltip */
.yui-tt .bd
{
   background-color: #f4faff !important;
   border: 1px solid #333 !important;
   padding: 4px 4px 1px !important;
   text-align: left;
   max-width: 900px;
}
.datagrid .form-container .form-buttons {
    padding-top: 0em;
}
.datagrid .item-select .yui-button {
    float: left;
}
.datagrid .datagrid-bar .item-select {
    width: 35%;
}
.datagrid .datagrid-bar .paginator {
    width: 65%;
}
